body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/open-book-27.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Header Styling */
.header {
    background-color: rgba(46, 40, 40, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header button {
    margin: 10px;
    padding: 10px 40px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.header button:hover {
    background-color: #7a7f85;
}

/* Main Content Styling */
.content {
    margin-top: 120px;
    padding: 30px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 120px auto;
    text-align: center;
}

h1 {
    color: #333;
}

/* Table Styling */
table {
    
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #0ee21c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styling */
.footer {
    background-color: rgba(85, 83, 83, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
